@font-face {
    font-family: 'Monsterrat';
    src: url(Montserrat.ttf);
}


#main-logo {
    width: 700px;
    height: auto;
    max-width: 1000px;
}

#navbar {
    background-color: #F1D5DB;
}

#title {
    color: #A8425C;
    font-family: 'Monsterrat';
}

.nav-link {
    font-family: 'Monsterrat';
}
